<html>

<head>
    <meta charset="UTF-8">
    <title>Drivers choice</title>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
<img src="/images/main_login_page_logo.png" alt="logo" class="avatar">
<div class="from_to">
    <div> <h2>Изберете дестинация</h2></div>
    <label for="city_from">От:</label>
    <select name="city_from" id="city_from">
        <option value="1">Айтос</option>
        <option value="2">Асеновград</option>
        <option value="3">Ахтопол</option>
        <option value="4">Балчик</option>
        <option value="5">Банкя</option>
        <option value="6">Банско</option>
        <option value="7">Батак</option>
        <option value="8">Белене</option>
        <option value="9">Белица</option>
        <option value="10">Белослав</option>
        <option value="11">Берковица</option>
        <option value="12">Битоля</option>
        <option value="13">Благоевград</option>
        <option value="14">Джумая)</option>
        <option value="15">Ботевград</option>
        <option value="16">Брацигово</option>
        <option value="17">Брезник</option>
        <option value="18">Бургас</option>
        <option value="19">Бяла</option>
        <option value="20">Варна</option>
        <option value="21">Велес</option>
        <option value="22">Велики</option>
        <option value="23">Преслав</option>
        <option value="24">Велико</option>
        <option value="25">Търново</option>
        <option value="26">Велинград</option>
        <option value="27">Видин</option>
        <option value="28">Враца</option>
        <option value="29">Вършец</option>
        <option value="30">Габрово</option>
        <option value="31">Гевгели</option>
        <option value="32">Горна</option>
        <option value="33">Оряховица</option>
        <option value="34">Гоце</option>
        <option value="35">Делчев</option>
        <option value="36">Гюмюрджина</option>
        <option value="37">Дедеагач</option>
        <option value="38">Демир</option>
        <option value="39">Хисар</option>
        <option value="40">Димитровград</option>
        <option value="41">Добрич</option>
        <option value="42">Дойран</option>
        <option value="43">Долна</option>
        <option value="44">Баня</option>
        <option value="45">Долна</option>
        <option value="46">Оряховица</option>
        <option value="47">Долни</option>
        <option value="48">Дъбник</option>
        <option value="49">Драма</option>
        <option value="50">Дупница</option>
        <option value="51">Елена</option>
        <option value="52">Исперих</option>
        <option value="53">Ихтиман</option>
        <option value="54">Кавала</option>
        <option value="55">Каварна</option>
        <option value="56">Казанлък</option>
        <option value="57">Калофер</option>
        <option value="58">Карлово</option>
        <option value="59">Карнобат</option>
        <option value="60">Кешан</option>
        <option value="61">Китен</option>
        <option value="62">Козлодуй</option>
        <option value="63">Копривщица</option>
        <option value="64">Костенец</option>
        <option value="65">Костур</option>
        <option value="66">Котел</option>
        <option value="67">Кресна</option>
        <option value="68">Крушево</option>
        <option value="69">Ксанти</option>
        <option value="70">Кукуш</option>
        <option value="71">Кърджали</option>
        <option value="72">Кюстендил</option>
        <option value="73">Лерин</option>
        <option value="74">Ловеч</option>
        <option value="75">Лозенград</option>
        <option value="76">Лом</option>
        <option value="77">Люле</option>
        <option value="78">Бургас</option>
        <option value="79">Мадан</option>
        <option value="80">Мелник</option>
        <option value="81">Момчилград</option>
        <option value="82">Монтана</option>
        <option value="83">Несебър</option>
        <option value="84">Никопол</option>
        <option value="85">Ниш</option>
        <option value="86">Нова</option>
        <option value="87">Загора</option>
        <option value="88">Обзор</option>
        <option value="89">Одрин</option>
        <option value="90">Оряхово</option>
        <option value="91">Охрид</option>
        <option value="92">Павликени</option>
        <option value="93">Пазарджик</option>
        <option value="94">Панагюрище</option>
        <option value="95">Перник</option>
        <option value="96">Перущица</option>
        <option value="97">Петрич</option>
        <option value="98">Пещера</option>
        <option value="99">Пирдоп</option>
        <option value="100">Плевен</option>
        <option value="101">Пловдив</option>
        <option value="102">Поморие</option>
        <option value="103">Попово</option>
        <option value="104">Пордим</option>
        <option value="105">Правец</option>
        <option value="106">Прилеп</option>
        <option value="107">Приморско</option>
        <option value="108">Провадия</option>
        <option value="109">Първомай</option>
        <option value="110">Радомир</option>
        <option value="111">Разград</option>
        <option value="112">Разлог</option>
        <option value="113">Русе</option>
        <option value="114">Самоков</option>
        <option value="115">Сандански</option>
        <option value="116">Врач)</option>
        <option value="117">Свиленград</option>
        <option value="118">паша)</option>
        <option value="119">Свищов</option>
        <option value="120">Своге</option>
        <option value="121">Севлиево</option>
        <option value="122">Серес</option>
        <option value="123">Сяр)</option>
        <option value="124">Силистра</option>
        <option value="125">Симеоновград</option>
        <option value="126">Скопие</option>
        <option value="127">Сливен</option>
        <option value="128">Смолян</option>
        <option value="129">Созопол</option>
        <option value="130">Солун</option>
        <option value="131">Сопот</option>
        <option value="132">София</option>
        <option value="133">Стара</option>
        <option value="134">Загора</option>
        <option value="135">Стражица</option>
        <option value="136">Струга</option>
        <option value="137">Струмица</option>
        <option value="138">Тетово</option>
        <option value="139">Тополовград</option>
        <option value="140">Троян</option>
        <option value="141">Трън</option>
        <option value="142">Тулча</option>
        <option value="143">Тутракан</option>
        <option value="144">Търговище</option>
        <option value="145">Харманли</option>
        <option value="146">Хасково</option>
        <option value="147">Хисар</option>
        <option value="148">Царево</option>
        <option value="149">Цариброд</option>
        <option value="150">Цариград</option>
        <option value="151">Чаталджа</option>
        <option value="152">Чепеларе</option>
        <option value="153">Червен</option>
        <option value="154">бряг</option>
        <option value="155">Чирпан</option>
        <option value="156">Чорлу</option>
        <option value="157">Шумен</option>
        <option value="158">Щип</option>
        <option value="159">Якоруда</option>
        <option value="160">Ямбол</option>
    </select>
    <label for="city_to">До:</label>
    <select name="city_from" id="city_to">
        <option value="1">Айтос</option>
        <option value="2">Асеновград</option>
        <option value="3">Ахтопол</option>
        <option value="4">Балчик</option>
        <option value="5">Банкя</option>
        <option value="6">Банско</option>
        <option value="7">Батак</option>
        <option value="8">Белене</option>
        <option value="9">Белица</option>
        <option value="10">Белослав</option>
        <option value="11">Берковица</option>
        <option value="12">Битоля</option>
        <option value="13">Благоевград</option>
        <option value="14">Джумая)</option>
        <option value="15">Ботевград</option>
        <option value="16">Брацигово</option>
        <option value="17">Брезник</option>
        <option value="18">Бургас</option>
        <option value="19">Бяла</option>
        <option value="20">Варна</option>
        <option value="21">Велес</option>
        <option value="22">Велики</option>
        <option value="23">Преслав</option>
        <option value="24">Велико</option>
        <option value="25">Търново</option>
        <option value="26">Велинград</option>
        <option value="27">Видин</option>
        <option value="28">Враца</option>
        <option value="29">Вършец</option>
        <option value="30">Габрово</option>
        <option value="31">Гевгели</option>
        <option value="32">Горна</option>
        <option value="33">Оряховица</option>
        <option value="34">Гоце</option>
        <option value="35">Делчев</option>
        <option value="36">Гюмюрджина</option>
        <option value="37">Дедеагач</option>
        <option value="38">Демир</option>
        <option value="39">Хисар</option>
        <option value="40">Димитровград</option>
        <option value="41">Добрич</option>
        <option value="42">Дойран</option>
        <option value="43">Долна</option>
        <option value="44">Баня</option>
        <option value="45">Долна</option>
        <option value="46">Оряховица</option>
        <option value="47">Долни</option>
        <option value="48">Дъбник</option>
        <option value="49">Драма</option>
        <option value="50">Дупница</option>
        <option value="51">Елена</option>
        <option value="52">Исперих</option>
        <option value="53">Ихтиман</option>
        <option value="54">Кавала</option>
        <option value="55">Каварна</option>
        <option value="56">Казанлък</option>
        <option value="57">Калофер</option>
        <option value="58">Карлово</option>
        <option value="59">Карнобат</option>
        <option value="60">Кешан</option>
        <option value="61">Китен</option>
        <option value="62">Козлодуй</option>
        <option value="63">Копривщица</option>
        <option value="64">Костенец</option>
        <option value="65">Костур</option>
        <option value="66">Котел</option>
        <option value="67">Кресна</option>
        <option value="68">Крушево</option>
        <option value="69">Ксанти</option>
        <option value="70">Кукуш</option>
        <option value="71">Кърджали</option>
        <option value="72">Кюстендил</option>
        <option value="73">Лерин</option>
        <option value="74">Ловеч</option>
        <option value="75">Лозенград</option>
        <option value="76">Лом</option>
        <option value="77">Люле</option>
        <option value="78">Бургас</option>
        <option value="79">Мадан</option>
        <option value="80">Мелник</option>
        <option value="81">Момчилград</option>
        <option value="82">Монтана</option>
        <option value="83">Несебър</option>
        <option value="84">Никопол</option>
        <option value="85">Ниш</option>
        <option value="86">Нова</option>
        <option value="87">Загора</option>
        <option value="88">Обзор</option>
        <option value="89">Одрин</option>
        <option value="90">Оряхово</option>
        <option value="91">Охрид</option>
        <option value="92">Павликени</option>
        <option value="93">Пазарджик</option>
        <option value="94">Панагюрище</option>
        <option value="95">Перник</option>
        <option value="96">Перущица</option>
        <option value="97">Петрич</option>
        <option value="98">Пещера</option>
        <option value="99">Пирдоп</option>
        <option value="100">Плевен</option>
        <option value="101">Пловдив</option>
        <option value="102">Поморие</option>
        <option value="103">Попово</option>
        <option value="104">Пордим</option>
        <option value="105">Правец</option>
        <option value="106">Прилеп</option>
        <option value="107">Приморско</option>
        <option value="108">Провадия</option>
        <option value="109">Първомай</option>
        <option value="110">Радомир</option>
        <option value="111">Разград</option>
        <option value="112">Разлог</option>
        <option value="113">Русе</option>
        <option value="114">Самоков</option>
        <option value="115">Сандански</option>
        <option value="116">Врач)</option>
        <option value="117">Свиленград</option>
        <option value="118">паша)</option>
        <option value="119">Свищов</option>
        <option value="120">Своге</option>
        <option value="121">Севлиево</option>
        <option value="122">Серес</option>
        <option value="123">Сяр)</option>
        <option value="124">Силистра</option>
        <option value="125">Симеоновград</option>
        <option value="126">Скопие</option>
        <option value="127">Сливен</option>
        <option value="128">Смолян</option>
        <option value="129">Созопол</option>
        <option value="130">Солун</option>
        <option value="131">Сопот</option>
        <option value="132">София</option>
        <option value="133">Стара</option>
        <option value="134">Загора</option>
        <option value="135">Стражица</option>
        <option value="136">Струга</option>
        <option value="137">Струмица</option>
        <option value="138">Тетово</option>
        <option value="139">Тополовград</option>
        <option value="140">Троян</option>
        <option value="141">Трън</option>
        <option value="142">Тулча</option>
        <option value="143">Тутракан</option>
        <option value="144">Търговище</option>
        <option value="145">Харманли</option>
        <option value="146">Хасково</option>
        <option value="147">Хисар</option>
        <option value="148">Царево</option>
        <option value="149">Цариброд</option>
        <option value="150">Цариград</option>
        <option value="151">Чаталджа</option>
        <option value="152">Чепеларе</option>
        <option value="153">Червен</option>
        <option value="154">бряг</option>
        <option value="155">Чирпан</option>
        <option value="156">Чорлу</option>
        <option value="157">Шумен</option>
        <option value="158">Щип</option>
        <option value="159">Якоруда</option>
        <option value="160">Ямбол</option>
    </select>
    <input type="submit" value="Search">
</div>
</body>
</html>